.skills {
  display: flex;
  flex-direction: column;
    width: 100%;
    max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: 400px 400px;
    
    overflow: hidden;
    gap: 20px 50px;
    margin-top: 20px;
    width: 100%;
    max-width: 1024px;
    margin-left: 4.5vw;
    z-index: 99;
  }
  
  .skill {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    margin: 10px;
    font-family: "Merienda", cursive;
  }
  .skill-img{
    position: relative;
    top: -20px;
    width: 70px;
    border-radius: 10px;
  }
  .skill-bar {
    width: 100%;
    max-width: 350px;
    background: #ddd;
    height: 10px;
    border-radius: 10px;
  }
  
  .skill-level {
    height: 100%;
    background: #4caf50;
  }
  @media screen and (max-width:900px) {
    .skills-container{
      gap: 10px 10px;
    }
   .skill{
    flex-direction: column;
    width: 90%;
   }
  }
  @media screen and (max-width:705px) {
    .skills-container{
      display: flex;
      flex-direction: column;
      
    }
    .skill{
      flex-direction: row;
    }
  }
  @media  screen and (max-width:500px) {
    .skills-container{
      display: flex;
      flex-direction: column;
    }
    .skill{
      flex-direction: column;
    }
  }