




.home {
    display: flex;
    width: 100%;
    max-width: 2400px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  
 .navbar{
display: flex;
background-color: #ee9b00;
position: fixed;
overflow: hidden;
width: 100%;
max-width: 2400px;
z-index: 999;
 }
 .nav-logo{
  width: 200px;
  height: 30px;
  margin-top: 20px;
  border-radius: 10px;
  margin-left: 10px;
 }
  .list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
    width: 100%;
    max-width: 500px;
    gap: 70px;
    list-style-type: none;
    
  }
  .list_item{
    cursor: pointer;
  }
  .list_item:hover{
    color: #ffca3a;
    transform: scale(1.1);
  }
 
  .hero {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: center;
    padding: 20px;
    z-index: 99;
  }
  
  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    height: fit-content;
    text-align: left;
    font-family: "Merienda", cursive;
  }
.h-left-bottom{
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  top: -150px;
}
 
  .d-resume{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    border: 1px solid orange;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    top: -10px;
   
  }
  .d-resume:hover{
    background-color: orange;
    color: white;
    box-shadow: 1px 1px green;
  }
  .h-heading{
    margin: 0;
  }
 .p-bg{
 background-image: radial-gradient(white,transparent); 
 width: 200px;
 height: 200px;
 filter: blur(60px);
 position: relative;
 top: -200px;
 left: -130px;
}
  
  .hero-right  {
    flex: 1;
    width: 100%;
    height: fit-content;
  }
  .hero-right img{
    width: 300px;
  }
  
  .h-bg-1{
    width: 400px;
    height: 200px;
    border-radius: 50%;
    background-image:linear-gradient(to left,#ffca3a,transparent);
    filter: blur(100px);
    z-index: -1;
    position: relative;
    top: -300px;
    right: -100px;
  }

 @media screen and (max-width:970px) {
  .list{
    gap: 30px;
  }
  .list_item{
    
  }
  .h-bg-1{
    right: 0px;
  }
 }

  @media screen and (max-width:700px) {
    .navbar{
      position: static;
      background-color: transparent;
    }
    .navbar ul{
        margin-top: 38px;
        flex-direction: column;
        transform: translateX(60vw);
        gap: 30px;
        width: fit-content;

    }
    .nav-logo{
      width: 50px;
      border-radius: 50%;

    }
    .list_item{
      position: relative;
      right: -100px;
    }
    .nav-btn{
      position: absolute;
      right: 20px;
      top: 20px;
      border: 1px solid;
      border-radius: 20px;
    }
    .hero{
        flex-direction: column-reverse;
        margin-top: 10px;
    }
    .h-bg-1{
      right: -30px;
      width: 200px;
      height: 200px;
      filter: blur(50px);
      top: -250px;
    }
  }