@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Lobster&family=Merienda:wght@300..900&family=Poppins:wght@200;400;500;600;700&family=Rubik+Iso&family=Rubik+Moonrocks&family=Smooch&display=swap');

body{
    margin: 0;
    background-color: #5e6472;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}