/*@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@700&family=Lobster&family=Merienda:wght@300..900&family=Poppins:wght@200;400;500;600;700&family=Rubik+Iso&family=Rubik+Moonrocks&family=Smooch&display=swap');
*/
body{
    margin: 0;
    background-color: #161a1d;
    color: white;
}
.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2400px;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none; /* removing scrol bar for Chrome, Safari, and Opera */
  }
.break{
    width: 90%;
    filter: blur(5px);
    border-color:gray;
   
    border-radius: 50px;
}